<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="stylesheet" href="assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="assets/images/favicon.png" />
    <script src='main.js'></script>
</head>

<body>
    <br><br><br>
    <div class="card col-6">
        <form action="" class="forms-sample">
            <div class="form-group row">
                <label for="" class="col-3">Input</label>
                <input type="text" class="form-control col-9">
            </div>
            <div class="form-group row">
                <label for="" class="col-3">Input</label>
                <input type="text" class="form-control col-9">
            </div>
            <div class="form-group row">
                <label for="" class="col-3">Input</label>
                <input type="text" class="form-control col-9">
            </div>
            <div class="form-group row">
                <label for="" class="col-3">Input</label>
                <input type="text" class="form-control col-9">
            </div>
            <div class="form-group row">
                <button class="btn btn-success col-3 mr-1 ml-2">Send</button>
                <button class="btn btn-warning">Cancel</button>
            </div>
        </form>
    </div>

</body>

</html>